
presentation/tech-update/tech-update.aux

presentation/tech-update/tech-update.log

presentation/tech-update/tech-update.nav

presentation/tech-update/tech-update.out

presentation/tech-update/tech-update.pdf

presentation/tech-update/tech-update.snm

presentation/tech-update/tech-update.synctex.gz

presentation/tech-update/tech-update.toc

presentation/tech-update/tech-update.vrb
